<div class="col-md-6 user-container">
    <h2 class="text-center">Novo Cadastro</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="CNPJ">CNPJ:</label>
        <input type="text" formControlName="cnpj" name="cnpj" class="form-control" onblur="validarCNPJ(this)" maxlength="18" id="cnpj" placeholder= "99.999.999/9999-99">
        <small *ngIf="addForm.controls.cnpj.invalid && !addForm.controls.cnpj.pristine ">Informe o cnpj</small>
      </div>
  
      <div class="form-group">
        <label for="Nome">Nome:</label>
        <input type="text" formControlName="nome" placeholder="Nome" name="nome" class="form-control" id="nome">
        <small *ngIf="addForm.controls.nome.invalid && !addForm.controls.nome.pristine">Informe o nome</small>
      </div>

      <div class="form-group">
        <label for="razaoSocial">Razão Social:</label>
        <input type="text" formControlName="razaoSocial" placeholder="RazaoSocial" name="razaoSocial" class="form-control" id="razaoSocial">
        <small *ngIf="addForm.controls.razaoSocial.invalid && !addForm.controls.razaoSocial.pristine">Informe a Razão Social</small>
      </div>


      <div class="form-group">
        <label for="contato">Telefone:</label>
        <input type="text" formControlName="contato" placeholder="Contato" name="contato" class="form-control" id="contato">
        <small *ngIf="addForm.controls.contato.invalid && !addForm.controls.contato.pristine">Somente números com ou sem DDD</small>
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" placeholder="example@domain.com" name="lastName" class="form-control" id="email">
        <small *ngIf="addForm.controls.email.invalid && !addForm.controls.email.pristine">O email informado não está no padrão</small>
      </div>


      <div class="form-group">
        <label for="cep">CEP:</label>
        <input type="text" formControlName="Cep" placeholder="Cep" name="cep" class="form-control" id="cep">
        <small *ngIf="addForm.controls.cep.invalid && !addForm.controls.cep.pristine">Informe o CEP</small>
      </div>

      <button class="btn btn-danger" (click)="consultarCep()">Consultar Cep</button>

      <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" formControlName="bairro" placeholder="Bairro" name="bairro" class="form-control" id="bairro">
        <small *ngIf="addForm.controls.bairro.invalid && !addForm.controls.bairro.pristine">Informe o Bairro</small>
      </div>
      
            
      <div class="form-group">
        <label for="logradouro">Logradouro:</label>
        <input type="text" formControlName="logradouro" placeholder="Logradouro" name="logradouro" class="form-control" id="logradouro">
      </div>

      <div class="form-group">
        <label for="complemento">Complemento:</label>
        <input type="text" formControlName="complemento" placeholder="Complemento" name="complemento" class="form-control" id="complemento">
      </div>
        
      <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" formControlName="cidade" placeholder="Cidade" name="cidade" class="form-control" id="cidade">
      </div>

      <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" formControlName="estado" placeholder="Estado" name="estado" class="form-control" id="estado">
      </div>

      
      <button class="btn btn-success" style="margin: 10px" [disabled]="addForm.invalid">Adicionar</button>    
      <button class="btn btn-danger" (click)="cancelar()"> Cancelar</button>
    </form>
  </div>
